/* Footer */
footer {
    text-align: center; /* Középre igazítja a szöveget */
    background-color: #8C2B32; /* Fő szín */
    color: white;
    padding: 20px;
    font-size: 1rem;
    margin-top: 40px;
    display: flex;
    justify-content: center; /* Középre igazítja a tartalmat vízszintesen */
    align-items: center; /* Középre igazítja a tartalmat függőlegesen is */
    width: 100%; /* A lábjegyzet kitölti a teljes szélességet */
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Finom árnyék a jobb megjelenés érdekében */
    position: relative;
}

footer p {
    margin: 0; /* Eltávolítja a margin-t a <p> elem körül */
    color: white;
}