/* MainPage stílus - Nincs 3D hatás */
.main-page {
    /* width: 100%; */
    max-width: 1200px;
    margin: 0;
    padding: 5%;
}

/* Üdvözlő üzenet */
.welcome-message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    color: #8C2B32;
    background-color:#fff; /* Fő szín */
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: perspective(800px) rotateX(5deg);
    transition: transform 0.3s ease-in-out
}

.welcome-message:hover {
    transform: perspective(800px) rotateX(0deg);
}

.welcome-message h1 {
    font-size: 3rem;
    margin: 0;
}

/* Szakaszok stílusa */
.section-main {
    padding: 40px 20px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out;
}

.section-main:hover {
    transform: translateY(-5px);
}

/* Címsor stílus */
.section-main h2 {
    font-size: 2rem;
    color: #8C2B32; /* Fő szín */
    margin-bottom: 20px;
}

.section-main h3 {
    font-size: 1.4rem;
    color: #5D5C31; /* Második szín */
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Szöveges tartalom */
.section-main p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

/* 3D hatás a feature listára */
.section-main ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.section-main li {
    width: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: perspective(800px) rotateX(5deg);
}

.section-main li:hover {
    transform: translateY(-10px) rotateX(0deg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    text-align: center; /* Középre igazítja a szöveget */
    background-color: #8C2B32; /* Fő szín */
    color: white;
    padding: 20px;
    font-size: 1rem;
    margin-top: 40px;
    display: flex;
    justify-content: center; /* Középre igazítja a tartalmat vízszintesen */
    align-items: center; /* Középre igazítja a tartalmat függőlegesen is */
    width: 100%; /* A lábjegyzet kitölti a teljes szélességet */
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Finom árnyék a jobb megjelenés érdekében */
    position: relative;
}

footer p {
    margin: 0; /* Eltávolítja a margin-t a <p> elem körül */
    color: white;
}

/* Media query a mobil eszközökhöz */
@media (max-width: 768px) {
    /* Features kártyák elrendezése mobilon */
    .section-main ul {
        display: block; /* A flexbox helyett blokk elrendezést alkalmazunk */
        padding-left: 0;
    }

    .section-main li {
        width: auto; /* A kártyák 100%-os szélességgel rendelkeznek */
        margin-bottom: 20px; /* Kártyák közötti távolság */
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .section-main li h3 {
        font-size: 1.3rem;
        margin-bottom: 12px;
    }

    .section-main li p {
        font-size: 1rem;
        line-height: 1.6;
    }
}
