/* Alapbeállítások */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h2 {
    font-size: 2rem;
    color: #555;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

p {
    text-align: center;
    color: #777;
}

/* Recept kártyák */
.recipe-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.recipe-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.recipe-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.recipe-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.recipe-card p {
    color: #666;
    margin-bottom: 1rem;
}

.recipe-card .ingredients,
.recipe-card .preparation {
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
}

.recipe-card .author {
    color: #888;
    font-style: italic;
}

.recipe-card .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.recipe-card .button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.recipe-card .button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
