/* Alapbeállítások */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    line-height: 1.6;
}

/* Navigáció */
header nav {
    background-color: #ff7043;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.1rem;
    font-weight: bold;
}

header nav a:hover {
    color: #ffccbc;
}

header nav form button {
    background: none;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

header nav form button:hover {
    color: #ffccbc;
}

/* Fő tartalom */
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
}

/* Üdvözlő szöveg */
h3 {
    font-size: 1.8rem;
    color: #ff7043;
    margin-bottom: 1rem;
}

/* Gombok */
a.button {
    display: inline-block;
    background-color: #ff7043;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}

a.button:hover {
    background-color: #ff5722;
}


@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        text-align: center;
    }

}
