<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "layout.css" %}">

</head>
<body>
    <header>
        <nav>
            <a href="/">Főoldal</a>
            <a href="http://127.0.0.1:8000/">Receptek</a>
            {% if user.is_authenticated %}
            <form action="{% url "users:logout" %}" method="post">
                {% csrf_token %}
                <button type="submit">Kilépés</button>
            </form>
            {% else %}
            <a href="/users/login">Belépés</a>
            <a href="/users/register">Regisztráció</a>
            {% endif %}
            <a href="/admin">Admin</a>
        </nav>
    </header>
    {% block content %}
    {% if user.is_authenticated %}
        <h3>Főzzön valami finomat kedves {{user}}</h3>
    {% endif %}
    {% endblock content %}
    <footer>
        <div></div>
        <div></div>
        <div></div>
    </footer>
</body>
</html>