
{% extends "layout.html" %}
{% load static %}

{% block Css %}
<link rel="stylesheet" href="{% static "login.css" %}">
{% endblock Css %}

{% block title %}
Belépés
{% endblock title %}

{% block content %}
<div class="h1" >
    <h1>Belépés</h1>
</div>
<div class="login">
    <form action="{% url "users:login" %}" method="post">
    {% csrf_token %}
    {{form}}
        <input type="submit" value="Belépés">
    </form>
</div>   
<div class="register">
Ha még nem regisztrált, hozzon létre egy fiókot:
<button type="button" onclick="window.location.href='{% url 'users:register' %}';">Regisztráció</button>
</div>
{% endblock content %} 