


{% extends "layout.html" %}
{% load static %}
{% block Css %}
<link rel="stylesheet" href="{% static "login.css" %}">
{% endblock Css %}
{% block title %}
Belépés
{% endblock title %}

{% block content %}
<h1>Belépés</h1>
<form action="{% url "users:login" %}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Belépés">
</form>    
<div>Ha még nem regisztrált, hozzon létre egy fiókot:</div>
<button type="button" onclick="window.location.href='{% url 'users:register' %}';">Regisztráció</button>
{% endblock content %} 