
{% extends "layout.html" %}
{% load static %}
{% block Css %}
<link rel="stylesheet" href="{% static "register.css" %}">
{% endblock Css %}
{% block title %}
Regisztráció
{% endblock title %}

{% block content %}

{% if form.errors %}
<h3>Hibás regisztráció.</h3>
{% endif %}
<div  class="h1">
    <h1>Új felhasználó regisztrálása.</h1>
</div>
<div class="register">
    <form action="{% url "users:register" %}" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit">Regisztrál</button>
    </form>
</div>

{% if messages %}
    {% for message in messages %}
        {% if message.tags %}  
            <script>alert("{{ message }}")</script> 
        {% endif %}

    {% endfor %}

{% endif %}

{% endblock content %}