{% extends "layout.html" %}


{% block title %}
Új Recept
{% endblock title %}

{% block content %}
<h1>Új recept:</h1>
<form  method="post">
    {% csrf_token %}

    <h2>Recipe Information</h2>
    {{ recipe_form.as_p }}

    <h2>Ingredients</h2>
    {{ ingredient_formset.management_form }}
    {% for form in ingredient_formset %}
        {{ form.as_p }}
    {% endfor %}

    <h2>Units</h2>
    {{ unit_formset.management_form }}
    {% for form in unit_formset %}
        {{ form.as_p }}
    {% endfor %}

    <h2>Quantities</h2>
    {{ qoi_formset.management_form }}
    {% for form in qoi_formset %}
        {{ form.as_p }}
    {% endfor %}

    <button type="submit">Submit Recipe</button>
{% endblock content %}